---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="hallo">
	<p class="prose lg:prose-lg">
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, iusto quod, error pariatur velit commodi cum harum hic dolore illo ex facilis beatae deserunt esse quidem doloribus totam cupiditate fugit?
	</p>
</Layout>