---
import Layout from "@/layouts/Layout.astro";
import PostList from "@/components/PostList.astro";
---

<Layout title="hallo">
	<div class="container mt-16">
		<h1 class="text-5xl font-serif">Artikel.</h1>
	</div>
	<div class="container">
		<PostList />
	</div>
</Layout>