---
import { Image } from "astro:assets";

interface Props {
    src: string;
    alt: string;
    fallbackText: string;
    size?: "sm" | "md" | "lg" | "xl";
}
function avaSize(size: "sm" | "md" | "lg" | "xl" | "2xl" | undefined) {
  if (size === 'sm') return ('w-8 h-8')
  if (size === 'lg') return ('w-12 h-12')
  if (size === 'xl') return ('w-16 h-16')
  if (size === '2xl') return ('w-24 h-24')
  return ('w-10 h-10')
}

const { src, alt, size, fallbackText } = Astro.props;
---

<div class={`relative flex shrink-0 overflow-hidden rounded-full ${avaSize(size)}`}>
    <Image src={src} alt={alt} class='aspect-square w-full h-full'/>
</div>