---
import type { NavMenu } from "@/types"
import siteNav from "@/lib/siteNav";

import logoIni from "../assets/logo-ini-text-1.svg";

import { Image } from "astro:assets";
import { MainNavMenu } from "@/components/react/MainNavMenu";
import { SideNavMenu } from "@/components/react/SideNavMenu";

function flattenMenu(menuItems: NavMenu[]): NavMenu[] {
    const flattenedMenu: NavMenu[] = [];
    menuItems.forEach(item => {
        if (item.subMenu) {
            item.subMenu.forEach(subItem => {
                flattenedMenu.push(subItem);
            });
        } else {
            flattenedMenu.push(item);
        }
    });
    return flattenedMenu;
}

---

<header class="h-16 border-b border flex items-center sticky top-0 bg-background z-50">
    <div class="container flex items-center justify-between">
        <a href="/">
            <Image src={logoIni} alt="logo ini" height={24} />
        </a>
        <div class="hidden lg:block">
            <MainNavMenu dataMenu={siteNav} client:load />
        </div>
        <div class="lg:hidden">
            <SideNavMenu dataMenu={siteNav} client:load/>
        </div>
    </div>
</header>
