---
import type { NavMenu } from "@/types"

import '@/styles/globals.css'

import { Button } from "@/components/ui/button"
import MainHeader from '@/components/MainHeader.astro';
import MainFooter from '@/components/MainFooter.astro';
import siteNav from '@/lib/siteNav';

function flattenMenu(menuItems: NavMenu[]): NavMenu[] {
    const flattenedMenu: NavMenu[] = [];
    menuItems.forEach(item => {
        if (item.subMenu) {
            item.subMenu.forEach(subItem => {
                flattenedMenu.push(subItem);
            });
        } else {
            flattenedMenu.push(item);
        }
    });
    return flattenedMenu;
}

const navLinks = flattenMenu(siteNav)

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Text:ital@0;1&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-background min-h-screen flex flex-col justify-between">
		<div>
			<MainHeader />
			<slot/>
		</div>
		<div class="">
			<MainFooter dataMenu={navLinks}/>
		</div>
	</body>
</html>
